@media (max-width: 768px) {
    /* Mostrar el icono del menú y el icono del carrito */
    .menuIcono,
    .boton2,
    .reservas {
      display: block !important;
    }
  
    /* Ocultar el menú superior */
    .contNaranja,
    .menuinf,
    .menusup,
    .contRosa,
    .boton {
      display: none;
    }
    .menu1{
        color: white;
    }
    .menuIcono{
        display:flex!important;
    }

    .contNegro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        
    }
    .logotipo{
        margin-top: 10%;
    }
    /* Estilos del botón2 */
    .boton2 button {
      width: 360%;
      padding: 1rem;
      background-color: #f1c933;
      color: #073590;
      border: none !important;
      border-radius: 5px;
      height: 100%;
      margin-left: 0.25rem;
      margin-bottom: 1rem;

    }
    /* Estilos del botón2 contenedor */
    .boton2 {
      width: 27%;
    }
  }
  
*{background-color: black;}

/* INDICE

1- Estilos generales
2- header
    2.1 - CAJA PADRE (NEGRO)
    2.2 - PRIMER CONTENEDOR (NARANJA)
    2.2 - SEGUNDO CONTENEDOR (AZUL)
        2.2.1 - PRIMER CONTENTEDOR (ROSA)
            2.2.1.a PRIMER CONTENEDOR
            2.2.1.b SEGUNDO CONTENEDOR
            2.2.1.c TERCER CONTENEDOR 
        2.2.2 - SEGUNDO CONTENEDOR (BOTÓN)  */

.menuIcono,.boton2,.reservas {
    display: none;
}
.centrado{
    display: block;
    margin: 0 auto;
}

label, p, span, a{
    font-family: 'Roboto', sans-serif!important;
    font-weight: 400 !important;
}

a:active,a:hover{
    font-weight: 700!important;
}
span{
    font-weight: 100!important;
    font-size: 0.9rem;
}

i{
    color:white;
    margin:0 0.4rem;
}


.menusup div{
    display: flex;
    align-items: center;

}

.contNegro{
    background-color: #073590;
    padding: 1rem;
}

.contNaranja{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #073590;
    width: 100%;
    height: 2.5rem;
}

.menusup li{
display: inline-block;
border-right: 1px solid white;
padding: 0 1.2rem;
}

.menusup a{
    color: white;
    text-decoration: none;
}

.menusup ul{
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
    align-items: center;
}

.contAzul{
    display: flex;
    align-items: flex-end;
    width: 97%;
    margin:2rem auto 0 auto;
}
.menuinf li{
display: inline-block;
padding: 0.7rem;
}

.menuinf li:active{
    border-bottom: 1px solid #f1c933;
}

.menuinf a, .menuinf i{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.menuinf a:hover, .menuinf i:hover{
    color: rgba(255, 255, 255);
}

.menuinf a:active, .menuinf i:active{
    color: rgba(255, 255, 255);
}

.menuinf ul{
    padding: 0px!important;
    margin: 0px!important;
    display: flex;
    align-items: center;
    height: 3rem;
}

.contRosa{
    width: 73%;
}


.menuter{
    display: flex;
}

.menuter div{
    margin: 0 1rem 0 0;
    display: flex;
    align-items: center;
}

.caja2 div{
    display: flex;
    align-items: center;
}

.menuter input{
    margin-right: 0.2rem;
}
.caja2{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 1rem 0;
}
.caja3 div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0 8px 1.2rem;
    background-color: white;
    width: 50%;
    height: 40px;
}
.caja3 p{
margin: 0px !important;
padding: 0px !important;
}
.caja3{
    display: flex;
    position: relative;
}

.botonabs{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1.4rem !important;
    height: 1.4rem !important;
    border: 0.5px solid rgb(136, 136, 136);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.botonabs i{
    color:black;
}

.caja3 :first-child{
    border-radius: 5px 0 0 5px;
    border-right: 0.5px solid rgb(136, 136, 136);
}

.caja3 :nth-child(2){
    border-radius: 0 5px 5px 0;
}

.caja3 :nth-child(2) p, .caja3 :nth-child(2) span{
    padding-left: 1.25rem !important;
}
.boton button{
    width: 100%;
    padding: 1rem;
    background-color: #f1c933;
    color: #073590;
    border: none !important;
    border-radius: 5px;
    height: 3.25rem;
    margin-left: 0.25rem;
}

.boton{
    width: 27%;
}



.carousel-item{
    max-height: 22rem;
   }
   
   .carousel-item  :nth-child(0){
       translate: 0 -100px;
   }
   
   .carousel-item  :nth-child(1){
       translate: 0 -324px;
   }
   
   .carousel-item  :nth-child(2){
       translate: 0 -220px;
   }
   .cardImg{
       height: 10rem;
   }
   .cardImg img{
       height: 100%;
       object-fit: cover;
       object-position: center;
   }
   
   .card{
       margin: 1rem auto;
       width: 100% !important;
   }
   
   @media (min-width: 1199px){
       .card{
           width: 80%;
       }
   }
   
   @media (min-width: 0px) and (max-width: 768px){
       .card{
           width: 75% !important;
       }
   }
   @media (min-width: 769px) and (max-width: 991px){
       .card{
           width: 85% !important;
       }
   }

   .grid .row .card-body #buttonCard{
    background-color: red;
   }

   #buttonCard{
    background-color: #f1c933;
   }